<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="container">

  <% chunk.forEach((events)=> {%>
    <div class="row mt-3">
        <% events.forEach((event)=> {%>
          <div class="col-sm-6 col-md-4">
              <div class="card">
          
                  <div class="card-body">
                    <h5 class="card-title"><%= event.title%></h5>
                    <p class="card-text"><%= event.description%></p>
                    <p><%= event.location%></p>
                    <a href="#" class="btn btn-primary">Show More</a>
                  </div>
                </div>
          </div>
          <%})%>
    </div>
  <%})%>

  
</div>


<%- include('../partials/footer') -%>